:root {
    --shadow: 0px 2px 27px -13px rgba(0, 0, 0, 0.66);
    --primary: #F0E433;
    --black: #000000;
    --grey: #4A4242;
}

html {
    width: 100%;
    background-attachment: cover;



}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: static;
}

img {

    display: inline-block;

}

p {
    margin: 0;
    padding: 0;
}

/*styles*/

/*header */
.header-section {
    width: 100%;
    background: var(--primary);
    display: block;
    box-shadow: var(--shadow);
}

.header-wrapper {
    display: grid;
    justify-content: center;

}

.header-wrapper #logo {
    width: 300px;
    height: 150px;
    display: block;
    position: relative;

}

.menu-wrapper {
    display: none;
}

/*media quaries for header */
@media only screen and (min-width: 940px) {
    .header-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;


    }

    #logo {
        padding-left: 30px;
        position: absolute;

    }

    .menu-wrapper {
        display: block;
        align-self: center;
        justify-self: end;
    }

    .menu-wrapper ul {
        padding: 0;
        margin: 0;
        text-transform: uppercase;
        list-style: none;
        display: flex;
        /* grid-template-columns: 1fr 1fr;
        text-align: center; */

    }

    .menu-wrapper ul a {
        text-decoration: none;
        color: var(--black);
        display: block;
        padding: 20px 60px;
        font-size: 2em;
        letter-spacing: 1px;
        white-space: nowrap;
    }

}


/*content */

.content {

    margin: 0;
    width: 100%;
    padding-bottom: 30px;

}

.section-wrapper {
    padding-right: 128.0px;
    padding-left: 128.0px;
    display: grid;
    grid-template-rows: 1fr;
    grid-gap: 40px;
    justify-content: center;

}

/*menu responsywne */

.nrmenu-wrapper {
    padding-left: 128.0px;
    padding-right: 128.0px;
    display: grid;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.nrmenu ul {
    padding: 0;
    margin: 0;
    list-style: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: flex;

}

.nrmenu a {
    padding: 20px;
    text-decoration: none;
    color: var(--black);
    font-size: 2em;
    white-space: nowrap;
}

/*box section */
.btn {
    text-align: center;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;



}

.btn a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--primary);
    display: inline-block;
    background: var(--black);
    padding: 15px 10px;
    white-space: nowrap;
    border-radius: 3px;

}

.btn a:hover {}

.girl {
    display: block;
    box-shadow: var(--shadow);
}

.box-wrapper {
    display: grid;
    justify-content: center;


}

.box-wrapper .box-baner {
    font-size: 1.6rem;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.box-wrapper .price {
    font-size: 1.5rem;
    text-align: center;
}

/*media quaries for content */

@media only screen and (min-width: 940px) {


    .section-wrapper {
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        margin-top: 150px;

    }

    .nrmenu-wrapper {
        display: none;
    }

}

/*gallery page */



.gallery-wrapper {
    width: 100%;
}

.gbox {
    display: grid;
    grid-template-rows: 1fr;
    width: 100%;
}

.photo-up {}

.photo-up img {
    max-width: 100%;
    display: block;
    height: 100vh;
    width: 100%;


}


.photo-down img {
    max-width: 100%;
    display: block;
    height: 100vh;
    width: 100%;

}

.about-me {
    display: grid;
    grid-template-rows: 1fr 0.5fr;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 100%;
}

/*button*/
.back-btn {
    padding-top: 80px;
    padding-bottom: 80px;
}

.back-btn a {
    font-size: 0.8rem;
    text-decoration: none;
    color: #413E3E;
    padding: 15px;
    background: transparent;
    display: inline-block;
    white-space: nowrap;
    font-family: 'Lato', sans-serif;
}

.back-btn #back-arrow {
    width: 10px;
    margin-right: 10px;
}

/*text box */
.text-box {
    padding-top: 30px;
    display: grid;
    justify-content: center;
    width: 100%;

}

.text-box .baner {
    padding-bottom: 30px;
    font-size: 2em;
    display: grid;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 0.7px;

}

.text-box .text {
    display: flex;
    justify-content: center;
    text-align: center;
    line-height: 1.50;
    font-size: 1.5rem;
}

/*media quarries for gallery */

@media only screen and (min-width: 1150px) {
    .about-me {
        max-width: 50%;
        padding: 0;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
    }

    .photo img {
        max-width: 100%;

    }

    .gbox {
        grid-template-columns: 1fr 1fr;
    }

    .about-me {
        grid-template-columns: 1fr;

    }

    .back-btn {
        padding-bottom: 40px;

    }

    .photo-down {
        order: 2;
    }


}

/*contact & about us section */
.other-about {
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding-left: 200px;
    padding-right: 200px;
    max-width: 100%;
    padding: 0;
}

.photo-about {
    max-width: 100%;
    display: block;

    width: 100%;
    padding-bottom: 0;
}

.text-box-about {}

.telephone {
    padding-top: 200px;
    text-align: center;
    font-size: 2.5em;
    white-space: nowrap;

}

i {
    border: solid #413E3E;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

#social_media {
    width: 100%;
    color: var(--primary);
    padding-top: 10%;
}

#social {
    width: 75px;
    height: 75px;
}

#social_media p {
    text-align: center;
}

.nizej {
    padding-top: 15px;
}

@media (max-width: 600px) {
    .o_nas_section {
        padding-top: 30px;
        font-size: 1rem;
    }
}
