:root {
    --shadow: 0px 2px 27px -13px rgba(0, 0, 0, 0.66);
    --primary: #F0E433;
    --black: #000000;
    --grey: #4A4242;
}

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}


img {
    max-width: 100%;
}


.header-section {
    width: 100%;
    background: var(--primary);
    display: block;
    box-shadow: var(--shadow);
}

.header-wrapper {
    display: flex;
    justify-content: center;
}

.header-wrapper #logo {
    width: 300px;
    height: 150px;
    display: block;
    position: relative;
}

.menu {
    display: none;
}


/* Content */

.content {
    padding: 0;
    margin: 0;
}

.section-wrapper {
    padding-right: 128px;
    padding-left: 128px;
    display: flex;
    flex-direction: column;
}

.btn {
    text-align: center;
    display: block;
    background: var(--black);
    align-self: center;
}

.btn a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--primary);
    background: var(--black);
    padding: 15px 10px;
    display: block;
    white-space: nowrap;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.showcase {
    display: block;
    box-shadow: var(--shadow);
}

.showcase .girl {
    display: block;
    margin-bottom: 10px;
    margin-top: 30px;
}

.card-baner {
    font-size: 1.6rem;
    padding-top: 10px;
    padding-bottom: 10px;
}

.price {
    color: var(--grey);
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 10px;
}

/* O nas page */

#image_showcase {
    height: 100%;
}

.o_nas_section {
    text-align: center;
    padding-top: 30px;
    font-size: 1.5rem;
}

.o_nas_section p {
    float: inherit;
    padding-left: 35%;
    padding-right: 35%;
    font-family: 'Lato', sans-serif;
}



#back {
    padding-right: 20%;
    color: #413E3E;
    padding-bottom: 3%;
}

#back a {
    text-decoration: none;
    color: #413E3E;
    font-size: 0.8rem;
}

i {
    border: solid #413E3E;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

#social_media {
    width: 100%;
    color: var(--primary);
    padding-top: 10%;
}

#social {
    width: 75px;
    height: 75px;
}

#social_media p {
    text-align: center;
}

.nizej {
    padding-top: 15px;
}

@media (max-width: 600px) {
    .o_nas_section {
        padding-top: 30px;
        font-size: 1rem;
    }
}
